/* Write your CSS here */
.course-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.course-title-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.course-title {
  color: #000000;
  font-size: 20px;
  font-family: 'Roboto';
}
.clock-icon-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
